<div class="gallery-container">
    <div class="track-container-gallery">
        <div class="track-gallery">
            <div class="gallery-picture">
                <%= image_tag "gallery1.JPG", alt: "Szoke Csaba", :class => "gallery-picture" %>
            </div>
            <div class="gallery-picture">
                <%= image_tag "gallery2.JPG", alt: "Szoke Csaba", :class => "gallery-picture" %>
            </div>
            <div class="gallery-picture">
                <%= image_tag "gallery3.JPG", alt: "Szoke Csaba", :class => "gallery-picture" %>
            </div>
            <div class="gallery-picture">
                <%= image_tag "gallery4.jpg", alt: "Szoke Csaba", :class => "gallery-picture" %>
            </div>
        </div>
    </div>
    <div class="carousel-nav">
        <button class="prev-gallery"><i class="fas fa-angle-left"></i></button>
        <button class="next-gallery"><i class="fas fa-angle-right"></i></button>
    </div>
</div>