<div class="gallery-container">
    <div class="track-container-gallery">
        <div class="track-gallery">
            <div class="gallery-picture">
                <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Szoke Csaba" class="gallery-picture">
            </div>
            <div class="gallery-picture">
                <img src="https://images.unsplash.com/photo-1581382575275-97901c2635b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Szoke Csaba" class="gallery-picture">
            </div>
            <div class="gallery-picture">
                <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Szoke Csaba" class="gallery-picture">
            </div>
            <div class="gallery-picture">
                <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Szoke Csaba" class="gallery-picture">
            </div>
        </div>
    </div>
    <div class="carousel-nav">
        <button class="prev-gallery"><i class="fas fa-angle-left"></i></button>
        <button class="next-gallery"><i class="fas fa-angle-right"></i></button>
    </div>
</div>