<div class="carousel">
    <div class="carousel-prev"></div>
    <div class="carousel-next"></div>
    <ul class="carousel-pagination">
        <li class="carousel-bullet"></li>
        <li class="carousel-bullet"></li>
        <li class="carousel-bullet"></li>
    </ul>
    <ul class="carousel-container">
        <li class="carousel-item">
            <div class="review-item">
                <div class="before-after">
                    <img src="https://images.unsplash.com/photo-1591384640699-9a85bd036da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <img src="https://images.unsplash.com/photo-1572540688236-4eb938e8c099?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="review">
                    <div class="review-header">
                        <div>
                            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                        </div>
                        <div class="name">
                            <p>Márti</p>
                        </div>
                    </div>
                    <div class="review-content">
                        <p><%= t("reviews.marti_html") %></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="review-item">
                <div class="before-after">
                    <img src="https://images.unsplash.com/photo-1591384640699-9a85bd036da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <img src="https://images.unsplash.com/photo-1572540688236-4eb938e8c099?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="review">
                    <div class="review-header">
                        <div>
                            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                        </div>
                        <div class="name">
                            <p>Helga</p>
                        </div>
                    </div>
                    <div class="review-content">
                        <p><%= t("reviews.helga_html") %></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="review-item">
                <div class="before-after">
                    <img src="https://images.unsplash.com/photo-1591384640699-9a85bd036da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <img src="https://images.unsplash.com/photo-1572540688236-4eb938e8c099?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVmb3JlJTIwYWZ0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="review">
                    <div class="review-header">
                        <div>
                            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                        </div>
                        <div class="name">
                            <p>Gizus</p>
                        </div>
                    </div>
                    <div class="review-content">
                        <p><%= t("reviews.gizus_html") %></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<%# 

<h2 class="title reviews"><%= t("reviews.title") </h2>%>
<%# <div class="review">
    <h4 class="subtitle reviews">Márti</h4>
</div>
<div class="review">
    <h4 class="subtitle reviews">Gizus</h4>
</div>
<div class="review">
    <h4 class="subtitle reviews">Helga</h4>
</div> %>