<div class="track-container">
    <div class="track">
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 1</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 2</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 3</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 4</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 5</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 6</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 7</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="card-container">
            <div class="card-content">
                <div class="card-name">
                    <h2>Zsuzsi 8</h2>
                </div>
                <div class="card-review">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptatem officiis saepe dolorum illo quisquam a cumque maxime, culpa inventore mollitia vel autem in cum dignissimos alias laudantium, omnis ratione!</p>
                </div>
            </div>
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>
</div>
<div class="nav">
    <button class="prev"><i class="fas fa-angle-left"></i></button>
    <button class="next"><i class="fas fa-angle-right"></i></button>
</div>