<div class="main-screen">
    <div class="main-text">
        <div class="main-name">
            <h2>CSABA SZŐKE</h2>
        </div>
        <div class="main-personal">
            <h3>PERSONAL TRAINING & LIFE COACHING</h3>
        </div>
    </div>
</div>