.item.coaching {
    background-color: #FFFFDD;
    margin-top: 80px;
}

.title.coaching {
    color: #333333;
    padding: 4px;
    width: 70%;
    font-size: 52px;
}

.subtitle.coaching {
    color: #222222;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.text.coaching {
    color: #333333;
    font-size: 1.1em;
}

@media (max-width: 1290px) {
    .coaching.title {
        font-size: 2.5em;
        margin-left: -7px;
    }

    .text.coaching {
        padding-right: 1rem;
    }
}