@import 'variables';

.gallery-container {
    width: 547px;
    height: 500px;
    position: relative;
}

.track-container-gallery {
    overflow: hidden;
}

.track-gallery {
    display: inline-flex;
    transition: transform 0.5s;
}

.gallery-picture {
    width: 450px;
    height: 500px;
    object-fit: cover;
    margin-left: 2px;
    margin-right: 94px;
}

.next-gallery {
    position: absolute;
    top: 50%;
    right: 62px;
}

.next-gallery.hide {
    display: none;
}

.prev-gallery {
    position: absolute;
    top: 50%;
    left: -42px;
}

.prev-gallery.show {
    display: block;
}

.carousel-nav button {
    color: $light-grey;
    font-size: 2rem;
    background: transparent;
    text-decoration: none;
    border: none;
    position: absolute;
}

@media screen and (max-width: 500px) { 
    .gallery-container {
      width: 335px;
    }

    .gallery {
        margin-top: 25px;
    }
  
    .gallery-picture {
      width: 288px;
      margin-right: 45px;
      height: 400px;
    //   margin-top: 25px;
    }

    .next-gallery {
        right: 5px;
    }

    .prev-gallery {
        left: -32px;
    }
  }