.section-container  {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    column-count: 2;
    column-gap: 0px;
}

.item {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.item.section {
    position: relative;
    // -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 600px;
    background-color: FFFFDD;
    padding: 20px;
}

.item.section.left {
    right: 20px;
    bottom: 20px;
}

.item.section.right {
    padding: 15px 0 20px 20px;
}

.text {
    font-size: 20px;
    color: rgb(58, 56, 56);
    text-align: justify;
}

.section-picture {
    max-width: 100%;
    height: auto;
}

.section-picture.left {
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.form-container {
    height: 400px;
    width: 250px;
    background-color: salmon;
}

// @media (max-width: 1232px) {
//     body {
//       padding: 60px;
//     }
// }

@media (max-width: 1199px) {
    .section-container {
      /* Masonry container */
      -webkit-column-count: 1;
      column-count: 1;
      max-width: 600px;
    }
}