.section {
    background-color: white;
    color: grey;
}

.section-content {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: justify;
}

.title{
    border-bottom: #CEAC41 solid 1px;
    color: #CEAC41;
    font-family: 'Oswald';
	letter-spacing: 0.46rem;
}