// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1579758629938-03607ccdbaba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    // margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 50px;
}

.main-text {
    color: white;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 140px;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.65);
}

.main-name {
    font-size: 5rem;
    margin-bottom: 0.33rem;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    position: relative;
}

.main-personal h3 {
    font-size: 3rem;
    margin-bottom: 1.2375rem;
    font-family: 'Oswald';
    letter-spacing: 8px;
    font-weight: lighter;
}


////// Responsiveness ///////

@media screen and ( max-width: 1000px ) { 
	.main-name h2 {
        font-size: 2.5rem;
    }

    .main-personal h3 {
        font-size: 2rem;
    }

    #home {
        background-position: center center;
    }
}

@media screen and ( max-width: 700px ) { 
	.main-name h2 {
        font-size: 2rem;
    }

    .main-personal h3 {
        font-size: 1.5rem;
    }
}

@media screen and ( max-width: 500px ) { 
	.main-name h2 {
        font-size: 1.5rem;
    }

    .main-personal h3 {
        font-size: 1rem;
    }
}