<div class="navbar">
    <div class="nav-bg"></div>
    <div class="navbar-links">
        <ul>
            <li>
                <a class="navlink" href="#home">HOME</a>
            </li>
            <li>
                <a class="navlink" href="#about">ABOUT</a>
            </li>
            <li>
                <a class="navlink" href="#training">TRAINING</a>
            </li>
            <li>
                <a class="navlink" href="#coaching">COACHING</a>
            </li>
            <li>
                <a class="navlink" href="#">CONTACT</a>
            </li>
            <li>
                <a class="navlink" href="#">BLOG</a>
            </li>
        </ul>
    </div>
</div>