<div class="navbar">
    <div class="navbar-links">
        <ul>
            <li>
                <a class="navlink" href="#">HOME</a>
            </li>
            <li>
                <a class="navlink" href="#">ABOUT</a>
            </li>
            <li>
                <a class="navlink" href="#">TRAINING</a>
            </li>
            <li>
                <a class="navlink" href="#">COACHING</a>
            </li>
            <li>
                <a class="navlink" href="#">CONTACT</a>
            </li>
            <li>
                <a class="navlink" href="#">BLOG</a>
            </li>
        </ul>
    </div>
</div>