<div class="navbar">
    <div class="navbar-links">
        <a class="navlink" href="#">HOME</a>
        <a class="navlink" href="#">ABOUT</a>
        <a class="navlink" href="#">TRAINING</a>
        <a class="navlink" href="#">COACHING</a>
        <a class="navlink" href="#">CONTACT</a>
        <a class="navlink" href="#">BLOG</a>
    </div>
</div>