.navbar {
    height: 100px;
    color: white;
    width: 100vw;
    background-color: transparent;
}

.navbar-links {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.navlink {
    font-weight: lighter;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.navlink:hover {
    border-top:white 1px solid;
}