#navbar {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 555555555555;
}

.nav-transparent {
	background: linear-gradient(rgb(5, 5, 5), rgba(77, 72, 72, 0));
	color: white;
}

.nav-colored {
	background-color: black;
	color: white;
}

ul {
	list-style: none;
	margin: auto;
	padding: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    width: 60%;
}

li {
	margin: 0 2rem;
}

.navlink {
    font-weight: lighter;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    display: block;
	position: relative;
	padding: 0.2em 0;
	font-family: 'Oswald';
	letter-spacing: 0.46rem;
}

.navlink::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.07em;
	background-color: #CEAC41;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.navlink::after {
    opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.navlink:hover {
	color: #CEAC41;
}

.navlink:hover::after,
.navlink:focus::after{
	transform: scale(1);
}