#navbar {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 555555555555;
	background-color: black;
	color: white;
}

.navbar-container {
	position: relative;
}

///// Language switch style rules /////

.language-switch {
	position: absolute;
	right: 87px;
    top: 5px;
}

.language-icon {
	font-size: 1.5rem;
    color: white;
}

.dropdown {
   padding: 20px 40px;
   display: flex;
   color: white;
   background: transparent;
   position: relative;
   z-index: 100;
   border-radius: 10px;
   &:hover .dropdown_menu li {
     display: block;
	}
}

.dropdown_menu {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: -1;
	li {
		background-color: white;
		padding: 1px 28px;
	}
}

.dropdown:hover .dropdown_menu--animated {
    display: block;
}
.dropdown_menu--animated {
    display: none;
    li {
      display: block;
      opacity: 1;
	}
}

.dropdown_menu-10 {
    animation: rotateY 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateY {
     0% {
        transform: rotateY(90deg)
    }
    80% {
        transform: rotateY(-10deg)
    }
    100% {
        transform: rotateY(0)
    }
}

///// Navbar links style rules /////

.nav-ul {
	list-style: none;
	margin: auto;
	padding: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    width: 67%;
}

.navlink {
    font-weight: lighter;
    font-size: 23px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    display: block;
	position: relative;
	padding: 0.1em 0;
	font-family: 'Oswald';
	letter-spacing: 0.40rem;
}

///// Navbar links hover style rules /////

.navlink::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.07em;
	background-color: #95c2af;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.navlink::after {
    opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.navlink:hover {
	color: #95c2af;
}

.navlink:hover::after,
.navlink:focus::after{
	transform: scale(1);
}

///// Responsive navbar style rules /////

.toggle-icon {
	margin: auto;
	cursor: pointer;
	color: white;
	font-size: 30px;
	position: absolute;
	right: 65px;
    top: 22px;
}

#open-nav {
	display: none;
}

#close-nav {
	display: none;
	z-index: 1999999999999988888888;
}

@media screen and (max-width: 1300px) { 
	.navlink {
		font-size: 1.1em;
	}
}

@media screen and ( max-width: 1110px ) { 
	#open-nav {
		display: block;
	}

	.nav-ul {
		flex-direction: column;
		width: 35%;
		display: none;
		text-align: center;
	}

	.nav-li {
		padding-top: 2.7rem;
	}
}

@media screen and ( min-width: 1110px ) { 
	#open-nav {
		display: none;
	}

	.nav-ul {
		display: flex;
		width: 67%;
	}

	.nav-li {
		padding-top: 0;
	}
}

.open {
	background: rgba(black, 0.97);
	position: fixed;
	height: 100vh;
    width: 100%;
	transition: 1.3s;
}
