// Colors

$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$light-grey: #8f9790;
$light-blue: #95c2af;
$blue: #708D81;
$light-yellow: #FFFFDD;


// Fonts

$sans-serif: 'Montserrat', sans-serif;
$serif: 'Esteban', serif;
$statement: 'Oswald', sans-serif;

$light: 200;
$normal: 400;
$semibold: 500;
$bold: 600;