// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.form-container {
    width: 100%;
    background-color: $light-grey;
    margin-left: 16px;
    margin-top: 31px;
}

.title.contact {
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: $white;
    text-shadow: #817d7d 2px 1px;
}

.form {
    padding: 1.5rem;
    text-align: center;
}

.contact-form-text-area {
    width: 85%;
    background: transparent;
    padding: 0.7rem;
    border-radius: 0.2rem;
    font-family: $sans-serif;
    font-size: 0.8rem;
    color: $white;
    outline: none;
	border: 1px solid $white;
	-webkit-transition: all .3s;
	transition: all .3s;
    margin-bottom: 1rem;
}

.contact-form-text-area:focus {
    box-shadow: 0 0 4px $white;
}

::placeholder {
    color: $white;
}

.send-button {
    background: $light-grey;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    font-family: $sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: $white;
    border: $white 1px solid;
    position: relative;
    transition: all 0.5s;
}

.send-button:hover {
    color: $light-grey;
    background-color: $white;
}

.break {
    height: 0.5rem;
    background-color: $dark-grey;
}